@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap&display=swap');
video{
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -2;

}
.hero-container {
    background: url('https://cdn.pixabay.com/photo/2013/10/02/23/03/mountains-190055__480.jpg') center center cover no-repeat;
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    object-fit: contain;
  }
  
  .hero-container > h1 {
    font-family: 'Koh Santepheap', cursive;
    color: #fff;
    font-size: 90px;
    margin-top: -100px;
    text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
   1px -1px 0 #000,
  -1px -1px 0 #000;
  }
  
  .hero-container > p {
    
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
   1px -1px 0 #000,
  -1px -1px 0 #000;
    
  }
  .hero-btns{
      display: flex;
      margin: 12px 12px;
      justify-content: space-evenly;
      align-items: center;
  }
  .hero-btns .btn--primary{
      background: transparent;
      border: 2px solid white;
      border: 1px;
      margin: 17px 30px;
      text-align: center;
  }
  .hero-btns .btn--primary .btn-link{
      
      font-size: 25px;
      text-decoration: none;
      color: white;
      font-weight: 400;
      border: 2px solid white;
      border-radius: 1px;
      padding: 10px 12px ;
  }
  .hero-btns .btn--primary .btn-link>i{
      padding-left: 10px;
  }

  .hero-btns .btn--primary .btn-link:hover{
      background: white;
      color: black;
      transition: 0.2s;
  }

  @media screen and (max-width: 960px) {
    .hero-container > h1 {
      font-size: 60px;
      margin-top: -150px;
    }
  }
  @media screen and (max-width: 768px) {
    .hero-container > h1 {
      font-size: 30px;
      margin-top: -100px;
    }
  
    .hero-container > p {
      font-size: 30px;
    }
    .hero-btns{
        display: flex;
        flex-direction: column;
    }
    .hero-btns .btn--primary .btn-link{
        font-size: 15px;
        font-weight: 200;
    }
}